{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <hr>
    <img src="{{movie.poster_url}}" alt="movie_img">
    <h3>{{movie.title}}</h3>
    <p>Audience : {{movie.audience}}</p>
    <p>Release Dates : {{movie.release_date}}</p>
    <p>Genre : {{movie.genre}}</p>
    <p>Score : {{movie.score}}</p>
    <p>{{movie.description}}</p>
    <a href="{% url 'movies:edit' movie.pk %}">EDIT</a><br>
    <form action="{% url 'movies:delete' movie.pk %}" method='POST'>
        {% csrf_token %}
        <input type='submit' value='DELETE'>
    </form>

    {% if prev == 0 %}
        <a href="{% url 'movies:detail' movie.pk|add:1%}">[다음영화]</a>
    {% elif nex == 0 %}
        <a href="{% url 'movies:detail' movie.pk|add:-1%}">[이전영화]</a>
    {% else %}
        <a href="{% url 'movies:detail' movie.pk|add:-1%}">[이전영화]</a>
        <a href="{% url 'movies:detail' movie.pk|add:1%}">[다음영화]</a>
    {% endif %}
    <a href="{% url 'movies:index' %}">[back]</a>
{% endblock content %}